/* Tailwind base */
@import "tailwindcss/base";
/* Components */
@import "components/button.css";
/* Tailwind components */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
    display: none;
}

@layer utilities {
    :root {
        font-family: Inter, sans-serif;
        font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    }
    @supports (font-variation-settings: normal) {
        :root { font-family: InterVariable, sans-serif; }
    }

    [contenteditable] {
        outline: 0px solid transparent;
    }

}

